:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*
    innner barner*/
    
    
    .inner_banner {
    background: url(../img/cover-agirmarket.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed; background-position: center; width: 100%!important; max-width: 100%; margin: 10px 0
    background-position: center;
    background-image: url(../img/cover-agirmarket.jpg);
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.banner:after, .inner_banner:after {
    background-color: transparent;
    content: "";
    left: 0;
    opacity: 0.45;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
    
    /*!innner barner*/

/******************login and register modal*********************/

.right-ames input[type="submit"] {
    background: #333;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 10px;
}

.right-ames input[type="submit"]:hover {
    background: #444;
}

.col-form-label {
    text-transform: uppercase;
    font-weight: 600;
    color: #dc3545;
    font-size: 13px;
    letter-spacing: 1px;
}

.modal-header {
    background: #17a2b8;
    color: #fff;
    border: none;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background: #fff;
}

h5.modal-title {
    letter-spacing: 1px;
    font-size: 1.5em;
    padding-left: 18px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}


.modal-dialog {
    position: relative;
    width: 800px;
    margin: 0.5rem;
    pointer-events: none;
   
   left: 90px;
    top: -60px;;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.show {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}



.btn-infoe {
    color: #eee;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 15px;
}
.btn-infoe1 {
    color: #eee;
    background-color: #17a2b8;
    border-color:#17a2b8;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 15px;
}
.ames-btn {
    letter-spacing: 1px;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.btn-info {
    color: #eee;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 15px;
}


.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.buttons {
    text-align: right;
}
body {
    padding: 0;
    margin: 0;
    background: #fff;
    position: relative;
    font-family: 'PT Sans Caption', sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (max-width: 414px)
.agileinfo-inner h2 {
    padding: 38vw 0 5vw;
}

@media (max-width: 667px)
.agileinfo-inner h2 {
    padding: 25vw 0 5vw;
    font-size: 2em;
}
@media (max-width: 800px)
.agileinfo-inner h2 {
    padding: 20vw 0 5vw;
}
@media (max-width: 1024px)
.agileinfo-inner h2 {
    padding: 16vw 0 5vw;
    font-size: 2.5em;
}
@media (max-width: 1280px)
.agileinfo-inner h2 {
    padding: 13vw 0 5vw;
}
.agileinfo-inner h2 {
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10vw 0 5vw;
}

/************************************marher.php************************/

.nav-bar
{
	top: 38px;
	position: absolute;
	height: 95px;
	width: 1487px;
	float: left;
	background-color: #fccfff;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-bottom-right-radius: 10px;
	left: 0;
	right: 0;
}


.main-menu{
	top: 155px;
}

#banniere{
		left: 0;
		right: 0;
		height: 250px;
		border-radius: 10px;
		margin-bottom: 13px;
		margin-top: 2px;
		box-shadow: 0px 4px 2px 4px #3e8e41;
		-moz-box-shadow: 0px 4px 2px 4px #3e8e41;
		-webkit-box-shadow: 0px 4px 2px 4px #3e8e41;
	}
#banniere p{
		text-align:center;
		content:justify;
		font-family:cursive;
		font-size:22px;
	}


#slogan
{
	background-color: transparent;
	margin-top: 105px;
    top:550px;
	color: bisque;
}

#logo
{
	position: absolute;
	height: 60px;
	color: black;
	background: transparent;
	width: 110px;
	border-radius: 10px;
	top: 15px;
	left:15px;
}

.tm-flex { display: block; }

.tm-section {
		
	min-height: 500px;
	
}

.container-fluid { 
	padding-left: 0; 
	padding-right: 0;
	overflow: hidden;
	height: 2000px;
	margin-top: 10px;
	background-repeat: no-repeat;
}

p { 
	line-height: 1.8;
	margin-bottom: 50px;
}

.tm-gallery-content { padding-top: 20px;}

.tm-content-box-right {
	margin-left: auto;
	margin-right: 0;
}

.tm-small-font { font-size: 1rem; }

.tm-page-content-width {
	min-width: 200px;
	margin: 0 auto;	
	padding-left: 20px;
	padding-right: 100px;
	width: 100%;	
}

.tm-page-content-width{ min-height: 950px;}
.tm-content-box { min-height: 250px;}

.tm-flex-col {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -ms-flex-direction: column;
        -webkit-flex-direction: column;
            flex-direction: column;    
}

.tm-section-gallery { min-height: 900px; }
.filter-wrapper { padding-left: 0; }
.filter-wrapper li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
	padding-left: 5px
}

.filter-wrapper li:last-child { margin-right: 0;width:250px; text-align: center;}

.filter-wrapper li a {
	background-color: white;
    color: #666;
    font-weight: 400;
    padding: 6px 20px;    
    display: block;
    text-decoration: none;
  
}

.filter-wrapper li a.selected { 
	background-color: #666666; 
	color: white;
}
.iso-box {
    position: relative;
    height: 150px;
	width: 200px;
    float: left;
   overflow: hidden;
    margin-bottom: 30px;
	margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
	z-index: 1;
}
.iso-box-section {
	margin-left: -8px;
    margin-right: 0;
}
.image-fluid{
	position: absolute;
}
.cont {
  position: relative;
  width: 50%;
}

.imga-fluid {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}
.text1 {
  
   padding: 0px 32px;
}
.caption {
	font-family: inherit;
	font-size: 12px;
	font-weight: 200;
	color: whitesmoke;
	text-align:center;
	width: 75%;
	height: 20%;
	
}



.pusher{
	visibility: hidden; 
	z-index: -100; 
    position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transform: translate3d(0px, 754.8px, 0px);
	height: 1050px;
	width: 710px;
}
/* IE fix */
.tm-media-body { 
	flex: 1 1 auto; 
	width: 100%; 
}



/
/*************************/
/* Media Queries */
@media screen and (max-width: 991px) {
	.tm-gallery-content { padding-top: 150px; }
	.tm-section-gallery { min-height: 900px; }
	.tm-page-content-width,.tm-content-box { min-height: 1200px;	}
	
}
/*ecrans tablettes**/
@media screen and (max-width: 767px) {
	.tm-gallery-content { padding-top: 20px; }
	.tm-content-box { padding: 100px 60px 100px; }
	.tm-section-gallery { min-height: 650px; }	
	.tm-page-content-width,.tm-content-box { min-height: 1050px;	}
	.tm-site-title-wrap {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	#banniere p{font-style: italic; font-size: 13px;top:20px;}
	.bloc-menu-footer {display: none;}
	.login-bar{display: inline-block;background-color:#ffff81;}
	.topbar{height: 150px; background-color:#00b5ff;}
	.language,.login-btn {left: 25px; top: 0;}
	.nav-bar{background-color:#ffff81;width: 650px;}
	.slang{left: 100px;top: 0px;}
	#logo{left: 15px;}
	.equipe{width: 100px;padding: 50px -100px 0px 0px; left: auto; display: inline-block;}
	.equipe img{width: 70px;height: 70px;}
	body{overflow-x: hidden;}
}

@media screen and (max-height: 639px) {
	.tm-section-home { min-height: 100%; }
	.topbar{height: 210px; background-color:#95b6dd;}
	.login-topbar{display: inline-block; position: absolute;left:450px;}
}

@media screen and (max-width: 575px) {
	.tm-gallery-content {padding-bottom: 150px;}
	#banniere p{font-style: italic; font-size: 13px;margin-top: -20px;}
	.equipe .contact.copyright {display: flex;  font-size: 8px;left: 0px;position: relative;}
	.bloc-menu-footer {position:absolute;display: flex; text-align: center;;background: gray;top: 500px;}
	.login-bar{display: inline-block;background-color:#00b5ff;width: auto; }
	.topbar{height: 300px; background-color:#ffff81;}
	.nav-bar{background-color:#00b5ff;}
	#header div {font-size: 2px;}
	.login-topbar{display: inline-block; position: absolute;left:50px;}
}

@media screen and (max-width: 420px) {
	.tm-media {
		flex-direction: column;
		align-items: center;
	}

	.tm-media-icon {
		margin-right: 0;
		margin-bottom: 30px;
	}
}

@media (max-width: 768px){
.w3-modal {
    padding-top: 50px;
}
.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
	* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
	}
	user agent stylesheet
html {
    color: -internal-root-color;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
}

/*End marche*/



/************************blog.html*****************************/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modale {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modale-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: yellow;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*<===========================================================Connexion=====================================================================> */

#tcontainer{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/*<===========================================================Connexion=====================================================================> */
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#tcontainer h1{
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

#form2{
	
	display: none;
}

#suivant{
	
	width: 150px;
		background-color: crimson;
		color: whitesmoke;
}
	#valider{
	
	width: 150px;
		background-color: crimson;
		color: whitesmoke;
}
	
	#precedent{
	
	width: 150px;
}


/*<=========END_FORMULAIRES========>*/


